spring:
  datasource:
    url: jdbc:h2:mem:lib;DB_CLOSE_DELAY=-1;MODE=PostgreSQL
    username: sa
    password:
    driver-class-name: org.h2.Driver

  jpa:
    hibernate:
      ddl-auto: create-drop
    open-in-view: false
    defer-datasource-initialization: false

  sql:
    init:
      mode: never

  batch:
    job:
      enabled: false
    jdbc:
      initialize-schema: always

  data:
    mongodb:
      uri: mongodb://localhost:27017/library_test

  h2:
    console:
      enabled: true
      path: /h2-console

spring.shell.interactive.enabled: true
