version: "3.9"

services:
  db:
    image: postgres:16-alpine
    container_name: myapp-postgres
    environment:
      POSTGRES_DB: appdb
      POSTGRES_USER: appuser
      POSTGRES_PASSWORD: apppass
    volumes:
      - db-data:/var/lib/postgresql/data
    networks:
      - app-net
    ports:
      - "5432:5432"

  app:
    build: .
    container_name: myapp-web
    depends_on:
      - db
    environment:
      SPRING_PROFILES_ACTIVE: docker
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/appdb
      SPRING_DATASOURCE_USERNAME: appuser
      SPRING_DATASOURCE_PASSWORD: apppass
      SPRING_JPA_HIBERNATE_DDL_AUTO: update
      SPRING_DATASOURCE_DRIVER_CLASS_NAME: org.postgresql.Driver
    ports:
      - "8080:8080"
    networks:
      - app-net

volumes:
  db-data:

networks:
  app-net:
