server:
  port: 8080

feign:
  client:
    config:
      default:
        connectTimeout: 2000
        readTimeout: 3000

spring:
  cloud:
    openfeign:
      circuitbreaker:
        enabled: true

resilience4j:
  circuitbreaker:
    instances:
      external-service:
        slidingWindowSize: 4
        failureRateThreshold: 50
        waitDurationInOpenState: 10s
        registerHealthIndicator: true
